.rolling-pin{
    
    position:fixed;
    bottom:-100px;
    left:38%;

    img{
        @mixin centerImage;
    }

    &__text{
        font-size:16px;
        font-weight: 400;
        width:120px;
        color:$white;
        position:relative;
        top:-48px;
        left: 20%;
    }
    &__text--center{
        color:$white;
        left:49%;
        top:-82px;
    }
    &__text--right{
        color:@white;
        left:70%;
        top:-116px;
    }
}