.site-header{
    
    padding: 39px;
    width:800px;
    height:800px;
  
    margin-left:auto;
    margin-right:auto;

    &__image{
        display:block;
        margin-left:auto;
        margin-right:auto;
        
    }

    
}